.about {
  padding-block: 30px;
}

.about__secondary-heading {
  margin-bottom: 20px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.about__wrapper-item-1 {
  background-image: url("../../../assets/about-item-1.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 90px 90px;
}

.about__wrapper-item-4 {
  background-image: url("../../../assets/case_blue.png");
  background-repeat: no-repeat;
  background-size: 80px 80px;
  background-position: right bottom;
}

.about__wrapper-item-5 {
  background-image: url("../../../assets/img_brokers.svg");
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: right bottom;
}

.about__card-heading {
  margin-bottom: 15px;
}

.about__paragraph {
  margin-bottom: 20px;
}

@media (min-width: 35em) {
  .about__wrapper-item-1 {
    background-size: 110px 110px;
  }

  .about__wrapper-item-4,
  .about__wrapper-item-5 {
    background-size: 150px 150px;
  }
}

@media (min-width: 50em) {
  .about {
    padding-block: 40px;
  }

  .about__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 30px 1fr 30px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr
      30px 1fr 30px 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
  }

  .about__wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .about__wrapper > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .about__wrapper > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }

  .about__wrapper > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }

  .about__wrapper > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
  }

  .about__wrapper > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
  }

  .about__wrapper > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 13;
  }

  .about__wrapper > *:nth-child(8) {
    -ms-grid-row: 1;
    -ms-grid-column: 15;
  }

  .about__wrapper > *:nth-child(9) {
    -ms-grid-row: 1;
    -ms-grid-column: 17;
  }

  .about__wrapper > *:nth-child(10) {
    -ms-grid-row: 1;
    -ms-grid-column: 19;
  }

  .about__wrapper > *:nth-child(11) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .about__wrapper > *:nth-child(12) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .about__wrapper > *:nth-child(13) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }

  .about__wrapper > *:nth-child(14) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
  }

  .about__wrapper > *:nth-child(15) {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
  }

  .about__wrapper > *:nth-child(16) {
    -ms-grid-row: 3;
    -ms-grid-column: 11;
  }

  .about__wrapper > *:nth-child(17) {
    -ms-grid-row: 3;
    -ms-grid-column: 13;
  }

  .about__wrapper > *:nth-child(18) {
    -ms-grid-row: 3;
    -ms-grid-column: 15;
  }

  .about__wrapper > *:nth-child(19) {
    -ms-grid-row: 3;
    -ms-grid-column: 17;
  }

  .about__wrapper > *:nth-child(20) {
    -ms-grid-row: 3;
    -ms-grid-column: 19;
  }

  .about__wrapper > *:nth-child(21) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  .about__wrapper > *:nth-child(22) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }

  .about__wrapper > *:nth-child(23) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }

  .about__wrapper > *:nth-child(24) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
  }

  .about__wrapper > *:nth-child(25) {
    -ms-grid-row: 5;
    -ms-grid-column: 9;
  }

  .about__wrapper > *:nth-child(26) {
    -ms-grid-row: 5;
    -ms-grid-column: 11;
  }

  .about__wrapper > *:nth-child(27) {
    -ms-grid-row: 5;
    -ms-grid-column: 13;
  }

  .about__wrapper > *:nth-child(28) {
    -ms-grid-row: 5;
    -ms-grid-column: 15;
  }

  .about__wrapper > *:nth-child(29) {
    -ms-grid-row: 5;
    -ms-grid-column: 17;
  }

  .about__wrapper > *:nth-child(30) {
    -ms-grid-row: 5;
    -ms-grid-column: 19;
  }

  .about__wrapper-item-1 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-span: 5;
    grid-column-end: 6;
    background-size: 120px 120px;
  }
  .about__wrapper-item-2 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column: 6;
    grid-column-start: 6;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-span: 5;
    grid-column-end: 11;
  }
  .about__wrapper-item-3 {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
  }
  .about__wrapper-item-4 {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column: 5;
    grid-column-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column-span: 6;
    grid-column-end: 11;
  }
  .about__wrapper-item-5 {
    background-size: 100px 100px;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column-span: 5;
    grid-column-end: 6;
  }
  .about__wrapper-item-6 {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column: 6;
    grid-column-start: 6;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column-span: 5;
    grid-column-end: 11;
  }

  .about__card-heading {
    margin-bottom: 10px;
  }
}

@media (min-width: 60em) {
  .about__wrapper-item-5 {
    background-size: 150px 150px;
  }
}
